.charsheet {
    background-color: #c0c0c0;
}

.charsheet table{
    border-collapse:separate;
    border-spacing:10px;
}
 
.charsheet textarea{
    resize:vertical;
}
  
.charsheet .sheet-section{
    border-top: 5px solid #505050;
    padding-top:10px;
    padding-bottom:10px;
 }

.charsheet input[type=number].sheet-smallnumber{
    width:40px;
}

.charsheet input[type=text].sheet-smalltext{
    width:60px;
    height: 18px;
    margin:0px;
}
.charsheet input[type=text].sheet-shorttext{
    padding-top:2px;
    padding-bottom:2px;
}

.charsheet input[type=text].sheet-skilltext{
    width:100px;
    padding:2px;
    margin-left:3px;
}

.charsheet .sheet-right{
    float:right;
}

.charsheet .sheet-bold{
    font-size: 12pt;
    margin-bottom: 10px;
}

.charsheet .sheet-border{
    border: 2px solid white;
    vertical-align:top;
    width:100%;
    padding: 2px;
    margin: 2px;
}

.charsheet input[type=number].sheet-smallshortnumber{
    width:40px;
    padding-top:2px;
    padding-bottom:2px;
    display: inline-block;
    float:right;
}

.charsheet input[type=number].sheet-shortnumber{
    padding-top:2px;
    padding-bottom:2px;
}

.charsheet label.sheet-areaLabel{
    margin:5px;
}






div.sheet-tab-content { display: none; }

input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4 { display: block; }

input.sheet-tab {
    width: 150px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

input.sheet-tab + span::before {
    content: attr(title);
    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    background: #fff;
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    width: 150px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    top: 75px;
    left: 15px;
}

input.sheet-tab:checked + span::before {
    background: #dcdcdc;
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child) + span::before { border-left: none; }

input.sheet-tab2 + span::before {
    background: #dcdcdc;
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    left: 163px;
}

input.sheet-tab2:checked + span::before {
    background: #dcdcdc;
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab3 + span::before { left: 313px; }

input.sheet-tab4 + span::before { left: 463px; }

div.sheet-tab-content {
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;
}