<link href="charsheet.css" rel="stylesheet" type="text/css">

<input type="radio" name="attr_tab" class="sheet-tab sheet-tab1" value="1" checked="checked"><span title="Main"></span>
<input type="radio" name="attr_tab" class="sheet-tab sheet-tab2" value="2"><span title="Experiences"></span>
<input type="radio" name="attr_tab" class="sheet-tab sheet-tab3" value="3"><span title="Equipment"></span>
<input type="radio" name="attr_tab" class="sheet-tab sheet-tab4" value="4"><span title="Faction/PF"></span>


<div class="sheet-tab-content sheet-tab1">
	<div class="sheet-sheet" style=" position:relative;">
	<div name="header" style="text-align: Center;"></div>
		<div name="characterinfo" class="sheet-section">
			<div class='sheet-2colrow'>
				<div class='sheet-col' style="display:inline-block;">
					<label>Character Name:<input class="sheet-right sheet-shorttext" type="text" name="attr_charactername" style="width:65%;"/></label>
					<label>Player Name:<input class="sheet-right sheet-shorttext" type="text" name="attr_playername" style="width:70%;"/></label>
					<label>Origins:<input class="sheet-right sheet-shorttext" style="width:75%;" type="text" name="attr_origins"/></label>
					<label>Concept:<input class="sheet-right sheet-shorttext" style="width:75%;" type="text" name="attr_concept"/></label>
					<br>
					<table style="margin-top:-10px; margin-left:-10px;">
						<tr>
							<td>
								<label>Gender:<input class="sheet-smalltext sheet-shorttext" type="text" name="attr_gender"/></label>
							</td>
							<td>
								<label>Age:<input class="sheet-smalltext sheet-shorttext" type="text" name="attr_age"/></label>
							</td>
							<td>
								<label>Height:<input class="sheet-smalltext sheet-shorttext" type="text" name="attr_height"/></label>
							</td>
							<td>
								<label>Weight:<input class="sheet-smalltext sheet-shorttext" type="text" name="attr_weight"/></label>
							</td>
							<td>
								<label>Wealth:<input class="sheet-smalltext sheet-shorttext" type="text" name="attr_wealth"/></label>
							</td>
						</tr>
					</table>
				</div>
				<div name="chardesc" class='sheet-col'>
					<label>Physical Desciption<textarea name="attr_chardesc" style="height:155px; padding-top:2px; padding-bottom:2px;"></textarea></label>
				</div>
			</div>
		</div>
	</div>

	<div name="aspects_traits" class="sheet-section">
	<label>Aspects and Traits</label> 
		<div class="sheet-3colrow">
			<div name="body" class="sheet-bold sheet-border">
				<div class='sheet-col' style="display:inline-block;">
					<button type='roll' value='/roll @{bodydice}d6>@{diffsetnum}'>BODY</button>
					<div style="float:right;">
						<input type="number" name="attr_bodydice" class="sheet-smallnumber" mim="-2" value="0"/>
					</div>
				</div>
				<div class='sheet-col' style="display:inline-block;">
					<div name="agi">
						-<input type="number" name="attr_agidiceneg" class="sheet-smallnumber" min="0" value="0"/>
						<button type="roll" value='/roll (@{bodydice}-@{agidiceneg}+@{agidicepos})d6>@{diffsetnum}'>Agility</button>
						+<input type="number" name="attr_agidicepos" class="sheet-smallnumber" min="0" value="0"/>
					</div>
					<div name="con">
						-<input type="number" name="attr_condiceneg" class="sheet-smallnumber" min="0" value="0"/>
						<button type="roll" value='/roll (@{bodydice}-@{condiceneg}+@{condicepos})d6>@{diffsetnum}'>Condition</button>
						+<input type="number" name="attr_condicepos" class="sheet-smallnumber" min="0" value="0"/>
					</div>
				</div>
				<div class='sheet-col' style="display:inline-block;">
					<div name="phys">
						-<input type="number" name="attr_physdiceneg" class="sheet-smallnumber" min="0" value="0"/>
						<button type="roll" value='/roll (@{bodydice}-@{physdiceneg}+@{physdicepos})d6>@{diffsetnum}'>Physique</button>
						+<input type="number" name="attr_physdicepos" class="sheet-smallnumber" min="0" value="0"/>
					</div>
					<div name="spd">
						-<input type="number" name="attr_spddiceneg" class="sheet-smallnumber" min="0" value="0"/>
						<button type="roll" value='/roll (@{bodydice}-@{spddiceneg}+@{spddicepos})d6>@{diffsetnum}'>Speed</button>
						+<input type="number" name="attr_spddicepos" class="sheet-smallnumber" min="0" value="0"/>
					</div>        
				</div>
			</div>
		</div>
	</div>
	
	<div class="sheet-3colrow">
		<div name="body" class="sheet-bold sheet-border">
			<div class="sheet-col">
				<button type='roll' value='/roll @{minddice}d6>@{diffsetnum}'>MIND</button>
				<div style="float:right;">
					<input type="number" name="attr_minddice" class="sheet-smallnumber" mim="-2" value="0"/>
				</div>
			</div>
		
			<div class="sheet-col">
				<div name="dis">
					-<input type="number" name="attr_disdiceneg" class="sheet-smallnumber" min="0" value="0"/>
					<button type="roll" value='/roll (@{minddice}-@{disdiceneg}+@{disdicepos})d6>@{diffsetnum}'>Discipline</button>
					+<input type="number" name="attr_disdicepos" class="sheet-smallnumber" min="0" value="0"/>
				</div>
				<div name="inf">
					-<input type="number" name="attr_infdiceneg" class="sheet-smallnumber" min="0" value="0"/>
					<button type="roll" value='/roll (@{minddice}-@{infdiceneg}+@{infdicepos})d6>@{diffsetnum}'>Influence</button>
					+<input type="number" name="attr_infdicepos" class="sheet-smallnumber" min="0" value="0"/>
				</div>
			</div>
        
			<div class="sheet-col">
				<div name="int">
					-<input type="number" name="attr_intdiceneg" class="sheet-smallnumber" min="0" value="0"/>
					<button type="roll" value='/roll (@{minddice}-@{intdiceneg}+@{intdicepos})d6>@{diffsetnum}'>Intellect</button>
					+<input type="number" name="attr_intdicepos" class="sheet-smallnumber" min="0" value="0"/>
				</div>
				<div name="san">
					-<input type="number" name="attr_sandiceneg" class="sheet-smallnumber" min="0" value="0"/>
					<button type="roll" value='/roll (@{minddice}-@{sandiceneg}+@{sandicepos})d6>@{diffsetnum}'>Sanity</button>
					+<input type="number" name="attr_sandicepos" class="sheet-smallnumber" min="0" value="0"/>
				</div>        
			</div>
		</div>
	</div>
	

	<div class="sheet-3colrow">
		<div name="body" class="sheet-bold sheet-border">
			<div class="sheet-col">
				<button type='roll' value='/roll @{sensesdice}d6>@{diffsetnum}'>SENSES</button>
				<div style="float:right;">
					<input type="number" name="attr_sensesdice" class="sheet-smallnumber" mim="-2" value="0"/>
				</div>
			</div>
		
			<div class="sheet-col">
				<div name="awa">
					-<input type="number" name="attr_awadiceneg" class="sheet-smallnumber" min="0" value="0"/>
					<button type="roll" value='/roll (@{sensesdice}-@{awadiceneg}+@{awadicepos})d6>@{diffsetnum}'>Awareness</button>
					+<input type="number" name="attr_awadicepos" class="sheet-smallnumber" min="0" value="0"/>
				</div>
				<div name="ins">
					-<input type="number" name="attr_insdiceneg" class="sheet-smallnumber" min="0" value="0"/>
					<button type="roll" value='/roll (@{sensesdice}-@{insdiceneg}+@{insdicepos})d6>@{diffsetnum}'>Instinct</button>
					+<input type="number" name="attr_insdicepos" class="sheet-smallnumber" min="0" value="0"/>
				</div>
			</div>
        
			<div class="sheet-col">
				<div name="res">
					-<input type="number" name="attr_resdiceneg" class="sheet-smallnumber" min="0" value="0"/>
					<button type="roll" value='/roll (@{sensesdice}-@{resdiceneg}+@{resdicepos})d6>@{diffsetnum}'>Resistance</button>
					+<input type="number" name="attr_resdicepos" class="sheet-smallnumber" min="0" value="0"/>
				</div>
				<div name="sen">
					-<input type="number" name="attr_sendiceneg" class="sheet-smallnumber" min="0" value="0"/>
					<button type="roll" value='/roll (@{sensesdice}-@{sendiceneg}+@{sendicepos})d6>@{diffsetnum}'>Sensation</button>
					+<input type="number" name="attr_sendicepos" class="sheet-smallnumber" min="0" value="0"/>
				</div>        
			</div>			
		</div>
		<br>
		<div name="traitnotes">
			<label>Trait Notes:<textarea name="attr_traitnotes" style="height:50px; padding-top:2px; padding-bottom:2px; width:98%"></textarea></label>
		</div>
	</div>
</div>


<div class="sheet-tab-content sheet-tab2">
	<div name="experience" class="sheet-section">
		<label>Experiences</label>
		<div class="sheet-block1">
			<fieldset class="repeating_skillsnew">
				<table class="sheet-skill">
					<tr>
						<td><input type="text" class="sheet-text3" name="attr_skill_name" value="" placeholder="Skill Name"/></td>
						<td>
							<select class="sheet-select1" name="attr_skill_select1" style="width:100%;"/>
								<option value="0"></option>
								<option value="(@{bodydice} + @{agidicepos} - @{agidiceneg})">Agility</option>
								<option value="(@{bodydice} + @{physdicepos} - @{physdiceneg})">Physique</option>
								<option value="(@{bodydice} + @{condicepos} - @{condiceneg})">Condition</option>
								<option value="(@{bodydice} + @{spddicepos} - @{spddiceneg})">Speed</option>
								<option value="(@{minddice} + @{disdicepos} - @{disdiceneg})">Discipline</option>
								<option value="(@{minddice} + @{intdicepos} - @{intdiceneg})">Intellect</option>
								<option value="(@{minddice} + @{infdicepos} - @{infdiceneg})">Influence</option>
								<option value="(@{minddice} + @{sandicepos} - @{sandiceneg})">Sanity</option>
								<option value="(@{sensesdice} + @{awadicepos} - @{awadiceneg})">Awareness</option>
								<option value="(@{sensesdice} + @{resdicepos} - @{resdiceneg})">Resistance</option>
								<option value="(@{sensesdice} + @{insdicepos} - @{insdiceneg})">Instinct</option>
								<option value="(@{sensesdice} + @{sendicepos} - @{sendiceneg})">Sensation</option>
							</select>
						</td>
						<td>
							<input type="number" name="attr_exp1lvl1" class="sheet-smallnumber" min="0" value="0"/>
							<input type="number" name="attr_exp1use1" class="sheet-smallnumber" min="0" value="0"/>
						</td>
						<td>
							<button type="roll" class="sheet-rollskill" name="roll_skill" value='/roll (@{skill_select1}+@{exp1lvl1})d6>4'></button>
						</td>
					</tr>
				</table>
			</fieldset>
		</div>
	</div>
</div>


<div class="sheet-tab-content sheet-tab3">
	<div name="equipment" class="sheet-section">
	<label>Equipment</label>
		<div class="sheet-block">
			<fieldset class="repeating_skillsnew2"
				<table class="sheet-skill">
					<tr>
						<td>
							<input type="text" class="sheet-text3" name="attr_equip_item" value=""/>
							Mass<input type="number" class="sheet-smallnumber" name="attr_equip_mass" min="0" value="0"/>
							QTY<input type="number" class="sheet-smallnumber" name="attr_equip_qty" min="0" value="0"/>
							CRY<input type="checkbox" name="attr_equip_cry" value="0"/>
						</td>
					</tr>
				</table>
			</fieldset>
			Total Mass<input type="number" name="attr_total_mass" value="0"/>
			Total Carry<input type="number" name="attr_total_carry" value="0"/>
		</div>
	</div>
</div>

<div class="sheet-tab-content sheet-tab4">
	<div name="faction_sys" class="sheet-section">
	<label>Faction Standings</label>
		<div class="sheet-block">
			<fieldset class="repeating_skillsnew3"
				<table class="sheet-skill">
					<tr>
						<td>
							Name<input type="text" class="sheet-text3" name="attr_faction_sys" value=""/>
							LVL<input type="number" class="sheet-smallnumber" name="attr_faction__sys_lvl" min="0" value="0"/>
							INT<input type="number" class="sheet-smallnumber" name="attr_faction_sys_int" min="0" value="0"/>
						</td>
					</tr>
				</table>
			</fieldset>
			<div name="faction_plr" class="sheet-section">
			<label>Pilots Federation Ranking</label>
				<div class="sheet-3colrow">
					<div name="body" class="sheet-bold sheet-border">
						<div class='sheet-col' style="display:inline-block;">
							Piloting/Combat<select class="sheet-select1" name="attr_pfrank_pilot" style="width:100%;"/>
								<option value="0"></option>
								<option value="1">Harmless (0)</option>
								<option value="2">Mostly Harmless (6)</option>
								<option value="3">Novice (12)</option>
								<option value="4">Competent (24)</option>
								<option value="5">Expert (48)</option>
								<option value="6">Master (96)</option>
								<option value="7">Dangerous (192)</option>
								<option value="8">Deadly (384)</option>
								<option value="9">Elite (768)</option>
							</select>
						</div>
						<div class='sheet-col' style="display:inline-block;">
							Piloting/Combat<select class="sheet-select1" name="attr_pfrank_exp" style="width:100%;"/>
								<option value="0"></option>
								<option value="1">Aimless (0)</option>
								<option value="2">Mostly Aimless (6)</option>
								<option value="3">Scout (12)</option>
								<option value="4">Surveyor (24)</option>
								<option value="5">Trailblazer (48)</option>
								<option value="6">Pathfinder (96)</option>
								<option value="7">Ranger (192)</option>
								<option value="8">Pioneer (384)</option>
								<option value="9">Elite (768)</option>
							</select>
						</div>
						<div class='sheet-col' style="display:inline-block;">
							Piloting/Combat<select class="sheet-select1" name="attr_pfrank_tr" style="width:100%;"/>
								<option value="0"></option>
								<option value="1">Penniless (0)</option>
								<option value="2">Mostly Penniless (6)</option>
								<option value="3">Peddler (12)</option>
								<option value="4">Dealer (24)</option>
								<option value="5">Merchant (48)</option>
								<option value="6">Broker (96)</option>
								<option value="7">Entrepreneur (192)</option>
								<option value="8">Tycoon (384)</option>
								<option value="9">Elite (768)</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div name="init" class="sheet-section">
	<table style="margin-top:-10px; margin-left:-10px;">
		<tr>
			<td>
				<button type='roll' value='&{template:default} {{name=Initiative}} {{Roll=[[3d6+(@{spddicepos}+@{insdicepos}-@{spddiceneg}-@{insdiceneg})]]}}'>Roll Initiative</button>
			</td>
			<td>
				<label>Overall Difficulty Setting<input type="number" name="attr_diffsetnum" class="sheet-number" min="0" value="0"/></label>
			</td>
		<tr>
		<tr>
			<td>
				<label>Offensive Dice Pool<input type="number" name="attr_offdicepool" class="sheet-number" min="0" value="o"/></label>
			</td>
			<td>
				<label>Defensive Dice Pool<input type="number" name="attr_defdicepool" class="sheet-number" min="0" value="o"/></label>
			</td>
			<td>
				<button type='roll' value='/roll @{offdicepool}d6>@{diffsetnum}'>Roll Offense</button>
			</td>
			<td>
				<button type='roll' value='/roll @{defdicepool}d6>@{diffsetnum}'>Roll Defense</button>
			</td>
		</tr>
	</table>			
</div>

<div name="trauma_blood" class="sheet-section">
	<label>Trauma & Blood Loss</label>
	<table style="margin-top:-10px; margin-left:-10px;">
		<tr>
			<td>
				<label>Max Trauma:<input class="sheet-smallnumber" type="number" name="attr_maxtrauma"/></label>
			</td>
			<td>
				<label>Critical:<input class="sheet-smallnumber" type="number" name="attr_critical"/></label>
			</td>
			<td>
				<label>Trauma Count:<input class="sheet-smallnumber" type="number" name="attr_traumacount"/></label>				
			</td>
			<td>
				<label>Blood Loss Rate:<input class="sheet-smallnumber" type="number" name="attr_bloodlossrate"/></label>
			</td>
		</tr>
	</table>
</div>
<div name="armor" class="sheet-section">
	<label>Equipped Armor</label>
	<div name="head_inner" class="sheet-bold sheet-border">
		Head (Inner):<input type="text" class="sheet-shorttext" name="attr_headin"/>	Mass:<input type="number" class="sheet-smallnumber" name="attr_headin_mass"/>	Max Damage:<input type="number" class="sheet-smallnumber" name="attr_headin_dam"/>	Recharge:<input type="number" class="sheet-smallnumber" name="attr_headin_rech"/>	Damage Tracker:<input type="number" class="sheet-smallnumber" name="attr_headin_damtrk"/>
	</div>
	<div name="head_outer" class="sheet-bold sheet-border">
		Head (Outer):<input type="text" class="sheet-shorttext" name="attr_headout"/>	Mass:<input type="number" class="sheet-smallnumber" name="attr_headout_mass"/>	Max Damage:<input type="number" class="sheet-smallnumber" name="attr_headout_dam"/>	Recharge:<input type="number" class="sheet-smallnumber" name="attr_headout_rech"/>	Damage Tracker:<input type="number" class="sheet-smallnumber" name="attr_headout_damtrk"/>
	</div>
	<div name="body_inner" class="sheet-bold sheet-border">
		Body (Inner):<input type="text" class="sheet-shorttext" name="attr_bodyin"/>	Mass:<input type="number" class="sheet-smallnumber" name="attr_bodyin_mass"/>	Max Damage:<input type="number" class="sheet-smallnumber" name="attr_bodyin_dam"/>	Recharge:<input type="number" class="sheet-smallnumber" name="attr_bodyin_rech"/>	Damage Tracker:<input type="number" class="sheet-smallnumber" name="attr_bodyin_damtrk"/>
	</div>
	<div name="body_outer" class="sheet-bold sheet-border">
		Body (Outer):<input type="text" class="sheet-shorttext" name="attr_bodyout"/>	Mass:<input type="number" class="sheet-smallnumber" name="attr_bodyout_mass"/>	Max Damage:<input type="number" class="sheet-smallnumber" name="attr_bodyout_dam"/>	Recharge:<input type="number" class="sheet-smallnumber" name="attr_bodyout_rech"/>	Damage Tracker:<input type="number" class="sheet-smallnumber" name="attr_bodyout_damtrk"/>
	</div>
</div>
<div name="weapons" class="sheet-section">
	<label>Available Weapons</label>
	<div name="weapon1" class="sheet-bold sheet-border">
		<div class='sheet-2colrow'>
			<div class='sheet-col'>
				Weapon:<input type="text" class="sheet-shorttext" style="width:81%" name="attr_wep1"/>
				<br>
				Type:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep1_type"/>	Class:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep1_class"/> Ammo Type:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep1_amtyp"/> 
				<br>
				<br>
				<br>
				Ammo Load:<input type="text" class="sheet-shorttext" style="width:74%" name="attr_ammo_wep1"/>
			</div>
			<div class='sheet-col'>
				Mass:<input type="number" class="sheet-smallnumber" name="attr_wep1_mass"/> Clip Size: <input type="number" class="sheet-smallnumber" name="attr_wep1_clipsz"/> Range:<input type="number" class="sheet-smallnumber" name="attr_wep1_rng"/> ROF:<input type="number" class="sheet-smallnumber" name="attr_wep1_rof"/>Trauma:<input type="number" class="sheet-smallnumber" name="attr_wep1_trauma"/>
				<br>
				<br>
				Ammo Mass:<input type="number" class="sheet-smallnumber" name="attr_ammo1_mass"/> Ammo In Clip: <input type="number" class="sheet-smallnumber" name="attr_ammo1_clipsz"/> Clips:<input type="number" class="sheet-smallnumber" name="attr_ammo1_clips"/> Trauma:<input type="number" class="sheet-smallnumber" name="attr_ammo1_trauma"/>
			</div>
		</div>
	</div>
	<div name="weapon2" class="sheet-bold sheet-border">
		<div class='sheet-2colrow'>
			<div class='sheet-col'>
				Weapon:<input type="text" class="sheet-shorttext" style="width:81%" name="attr_wep2"/>
				<br>
				Type:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep2_type"/>	Class:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep2_class"/> Ammo Type:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep2_amtyp"/> 
				<br>
				<br>
				<br>
				Ammo Load:<input type="text" class="sheet-shorttext" style="width:74%" name="attr_ammo_wep2"/>
			</div>
			<div class='sheet-col'>
				Mass:<input type="number" class="sheet-smallnumber" name="attr_wep2_mass"/> Clip Size: <input type="number" class="sheet-smallnumber" name="attr_wep2_clipsz"/> Range:<input type="number" class="sheet-smallnumber" name="attr_wep2_rng"/> ROF:<input type="number" class="sheet-smallnumber" name="attr_wep2_rof"/>Trauma:<input type="number" class="sheet-smallnumber" name="attr_wep2_trauma"/>
				<br>
				<br>
				Ammo Mass:<input type="number" class="sheet-smallnumber" name="attr_ammo2_mass"/> Ammo In Clip: <input type="number" class="sheet-smallnumber" name="attr_ammo2_clipsz"/> Clips:<input type="number" class="sheet-smallnumber" name="attr_ammo2_clips"/> Trauma:<input type="number" class="sheet-smallnumber" name="attr_ammo2_trauma"/>
			</div>
		</div>
	</div>
	<div name="weapon3" class="sheet-bold sheet-border">
		<div class='sheet-2colrow'>
			<div class='sheet-col'>
				Weapon:<input type="text" class="sheet-shorttext" style="width:81%" name="attr_wep3"/>
				<br>
				Type:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep3_type"/>	Class:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep3_class"/> Ammo Type:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep3_amtyp"/> 
				<br>
				<br>
				<br>
				Ammo Load:<input type="text" class="sheet-shorttext" style="width:74%" name="attr_ammo_wep3"/>
			</div>
			<div class='sheet-col'>
				Mass:<input type="number" class="sheet-smallnumber" name="attr_wep3_mass"/> Clip Size: <input type="number" class="sheet-smallnumber" name="attr_wep3_clipsz"/> Range:<input type="number" class="sheet-smallnumber" name="attr_wep3_rng"/> ROF:<input type="number" class="sheet-smallnumber" name="attr_wep3_rof"/>Trauma:<input type="number" class="sheet-smallnumber" name="attr_wep3_trauma"/>
				<br>
				<br>
				Ammo Mass:<input type="number" class="sheet-smallnumber" name="attr_ammo3_mass"/> Ammo In Clip: <input type="number" class="sheet-smallnumber" name="attr_ammo3_clipsz"/> Clips:<input type="number" class="sheet-smallnumber" name="attr_ammo3_clips"/> Trauma:<input type="number" class="sheet-smallnumber" name="attr_ammo3_trauma"/>
			</div>
		</div>
	</div>
	<div name="weapon4" class="sheet-bold sheet-border">
		<div class='sheet-2colrow'>
			<div class='sheet-col'>
				Weapon:<input type="text" class="sheet-shorttext" style="width:81%" name="attr_wep4"/>
				<br>
				Type:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep4_type"/>	Class:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep4_class"/> Ammo Type:<input type="text" class="sheet-shorttext" style="width:17%" name="attr_wep4_amtyp"/> 
				<br>
				<br>
				<br>
				Ammo Load:<input type="text" class="sheet-shorttext" style="width:74%" name="attr_ammo_wep4"/>
			</div>
			<div class='sheet-col'>
				Mass:<input type="number" class="sheet-smallnumber" name="attr_wep4_mass"/> Clip Size: <input type="number" class="sheet-smallnumber" name="attr_wep4_clipsz"/> Range:<input type="number" class="sheet-smallnumber" name="attr_wep4_rng"/> ROF:<input type="number" class="sheet-smallnumber" name="attr_wep4_rof"/>Trauma:<input type="number" class="sheet-smallnumber" name="attr_wep4_trauma"/>
				<br>
				<br>
				Ammo Mass:<input type="number" class="sheet-smallnumber" name="attr_ammo4_mass"/> Ammo In Clip: <input type="number" class="sheet-smallnumber" name="attr_ammo4_clipsz"/> Clips:<input type="number" class="sheet-smallnumber" name="attr_ammo4_clips"/> Trauma:<input type="number" class="sheet-smallnumber" name="attr_ammo4_trauma"/>
			</div>
		</div>
	</div>
</div>